
        * {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }

		@media only screen and (max-width:560px){
          #parent{
          	display:block !important;
            
          }
          #left{
          	width:100% !important;
          	display: block;
          }
          #right{
          	display:block;
            flex:none !important;
            width:100% !important;
          }
          #bar{
          	display: none !important;
          }
          #result_heading{
          	display:none;
          }
          
        } 
        #parent {
            position: absolute;
            /* top: 140px; */
            bottom: 0px;
            width: 100%;
            top: 121px;
            /* background-color: seagreen; */
            display: flex;
        }

        #left {
            height: 100%;
            width: 50%;
            border: 1px solid #d5d5d5;
        }

        #bar {
            width: 4px;
            height: 100%;
            background-color: #f1f1f1;
            cursor: w-resize;
        }

        #right {
            height: 100%;
            width: 50%;
            flex: 1;
            border: 1px solid #d5d5d5;
            /* background-color: springgreen; */
        }

        #editor {
            width: 100%;
            height: 100%;
        }

        #frameWrapper {
            width: 100%;
            height: 100%;
        }

        #resultFrame {
            width: 100%;
            height: 100%;
        }
        
        .responsive {
            max-width: 100%;
            height: 80px;
        }
        #ads-container {
            height: 80px;
            /* background-color: aqua; */
        }

        #editor-options {
            height: 43px;
            font-family: Arial,Helvetica,sans-serif;

            /* border-left: 1px solid #d5d5d5;
            border-top: 1px solid #d5d5d5;
            border-right: 1px solid #d5d5d5; */
            /* background-color: red; */

        }

        .word-breaker {
            word-wrap: break-word;
        }

        #editor-options-left {
            float: left;
            width: 100%;
            height: 100%;
            background-color: #f1f1f1;
            padding: 3px 15px;
            /* background-color: seagreen; */
        }

        #editor-options-right {
            float: right;
            width: 30%;
            text-align: left;
            height: 100%;
            background-color: #f1f1f1;
            /* background-color: sienna; */
        }
        #result-span{
            line-height: 40px;
            font-size: 24px;
        }
        .action-btns{
            border: none;
            outline: none;
            cursor: pointer;
            line-height: 32px;
           
            background-color: #e065e6;
            border-radius: 2px;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
            /* margin-right: 5px; */
            padding-left: 3px;
            /* margin:5px; */
            color: white;
            font-size: 16px;
            font-weight: 400;
            padding-right: 3px;
            margin-right: 8px;
        }
        .action-btns:hover{
            background-color: #fa04bc;
        }
        #run-btn{
            width: 80px;
            text-align: center;
        }